[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
	ignore = dirty
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/IconFontCppHeaders"]
	path = vendor/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "vendor/stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
